<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>wordcraft</title>
        <script src="/static/thirdparty/toastify-js.js"></script>
        <script src="/static/common.js"></script>
        <script src="/static/home.js"></script>
        <link rel="stylesheet" href="/static/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    </head>
    <body class="flex flex-col justify-center items-center">
        {{if .error}}
            <div role="alert" class="alert alert-error w-auto absolute mx-auto top-4 flex justify-center align-center">
                <span class="material-symbols-outlined">error</span>
                <span>{{.error}}</span>
            </div>
        {{end}}
        <h1 class="text-center mx-5 text-3xl md:text-6xl font-bold mt-10 md:mt-20">Welcome to <span class="italic">wordcraft.</span></h1>
        <article class="text-center mx-8 my-4 text-xl md:text-2xl">
            wordcraft is a multiplayer game about coming up with words given a piece of a word, called a challenge.
            <br>
            E.g, if you are given a challenge of "<span class="font-bold">st</span>", you can answer with "<span class="font-bold">st</span>riped", "je<span class="font-bold">st</span>er", "fea<span class="font-bold">st</span>", etc.
            <br><br>
            You may not submit the challenge itself, even if it's a word.
            <br>
            E.g, if you are given a challenge of "<span class="font-bold">car</span>", you can answer with "s<span class="font-bold">car</span>y" or "<span class="font-bold">car</span>d" but not "<span class="font-bold">car</span>" itself.
            <br><br>
            But be quick&ndash; you only have so much time before you're out!
        </article>
        <div class="mt-4 flex flex-col md:flex-row gap-4 md:gap-5">
            <button id="create-lobby" class="btn btn-primary flex justify-center align-center">
                <span class="material-symbols-outlined mt-1">stadia_controller</span>
                <span class="text-lg">Create lobby</span>
            </button>
            <a class="btn btn-secondary flex justify-center align-center" target="_blank" href="https://github.com/jhshelnu/wordcraft">
                <span class="material-symbols-outlined mt-1">menu_book</span>
                <span class="text-lg">View source</span>
            </a>
        </div>
    </body>
</html>