<html lang="en" data-theme="synthwave">
    <head>
        <title>wordgame</title>
        <script src="/static/index.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    </head>
    <body class="flex flex-col justify-center items-center">
        <h1 class="h1 text-center mt-20">Welcome to <span class="italic">wordgame.</span></h1>
        <article class="h4 text-center">
            wordgame is a multiplayer game about coming up with words given a piece of a word, called a challenge.
            <br>
            E.g, if you are given a challenge of "<span class="font-bold">st</span>", you can answer with "<span class="font-bold">st</span>riped", "je<span class="font-bold">st</span>er", "fea<span class="font-bold">st</span>", etc.
            <br>
            <br>
            But be quick&ndash; you only have so much time before you're out!
        </article>
        <div class="mt-4 flex flex-row gap-4">
            <button id="create-lobby" class="btn btn-primary flex justify-center align-center">
                <span class="material-symbols-outlined mt-1">stadia_controller</span>
                <span class="text-lg">Create lobby</span>
            </button>
            <a class="btn btn-secondary flex justify-center align-center" target="_blank" href="https://github.com/jhshelnu/wordgame">
                <span class="material-symbols-outlined mt-1">menu_book</span>
                <span class="text-lg">View source</span>
            </a>
        </div>
    </body>
</html>