<html lang="en">
    <head>
        <title>wordgame</title>
        <script src="/static/index.js"></script>
    </head>
    <body>
        <button id="create-lobby">Create lobby</button>
    </body>
</html>