<html lang="en">
    <head>
        <title>wordgame</title>
        <script src="/static/index.js"></script>
    </head>
    <body>
        <label for="send-text">Send through the websocket:</label>
        <input type="text" id="send-text">
        <button type="submit" id="send-button">Send</button>
    </body>
</html>