<html lang="en">
    <head>
        <title>wordgame</title>
        <script src="/static/lobby.js"></script>
        <script>
            const lobbyId = {{ .lobbyId }};
            let gameStatus = {{ .gameStatus }};
        </script>
    </head>
    <body>
        <h5>Lobby: {{ .lobbyId }}</h5>

        <button id="start-game-button" style="display: none">Start game!</button>

        <div id="challenge-input-section" style="display: none">
            <label for="challenge-input">Your answer:</label>
            <input type="text" id="challenge-input">
            <button type="submit" id="send-button">Send</button>
        </div>

        <div>
            <p>Players:</p>
            <ul id="clients-list">
                {{range .clientIds}}
                    <li data-client-id="{{.}}">{{.}}</li>
                {{end}}
            </ul>
        </div>
    </body>
</html>